extends ../base/layout.pug

block content
    include ../layout/order-info.pug
block js
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="../../js/orderForm/orderForm.js" type="module")
