.button {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid $boder-button;
  outline: none;
  color: $text-white;
  font-size: $fs-s;
  padding: 10px 12px;
  cursor: pointer;
  font-weight: 600;
}

.button:hover {
  opacity: 0.8;
}

.button-product {
  color: $text-black80;
}

.button-green {
  background-color: $green;
}

.button-like {
  background-color: $green;
  padding: 10px;
}

.button-refresh {
  padding: 10px;
  color: $text-black80;
}

.button-tag {
  background-color: $bg-dark;
}

.button-tag-success {
  background-color: $green;
}
