.button {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid $border-line;
  outline: none;
  color: $text-white;
  font-size: $fs-s;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 15px;
}

.button:hover {
  opacity: 0.8;
}

.button-product {
  color: $text-black80;
}

.button-green {
  background-color: $green;
}

.button-like {
  background-color: $green;
}

.button-dark {
  background-color: $bg-dark;
  border-radius: 0;
  padding: 5px 25px;
}

.button-tag {
  border-radius: 0;
  color: $text-gray;
  padding: 5px 10px;
}

.button-tag--dark {
  background-color: $bg-dark;
  color: $text-white;
}

.button-tag-success {
  background-color: $green;
  color: $text-white;
}

.button + .button {
  margin-left: 4px;
}

.button-paging {
  border: none;
  outline: none;
  font-size: $fs-s;
  line-height: $lh-6xl;
  background-color: transparent;
}

.button-paging:hover {
  color: $text-green;
}

.btn-search {
  font-size: $fs-base;
  color: $text-black70;
  border: none;
  padding: 0;
}
