@font-face {
  font-family: "Open Sans";
  src: url("../assets/font/Open_Sans/OpenSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/font/Open_Sans/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/font/Open_Sans/OpenSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/font/Open_Sans/OpenSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/font/Open_Sans/OpenSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/font/Open_Sans/OpenSans-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

// Roboto

@font-face {
  font-family: "Roboto";
  src: url("../assets/font/Roboto/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/font/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/font/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: "Roboto";
  src: url("../assets/font/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/font/Roboto/Roboto-Black.ttf");
  font-weight: 800;
  font-style: normal;
}

//utm

@font-face {
  font-family: "U TM";
  src: url("../assets/font/utm/utm-avo.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "U TM";
  src: url("../assets/font/utm/utm-avobold.woff");
  font-weight: 700;
  font-style: normal;
}

// Lobster

@font-face {
  font-family: "Lobster";
  src: url("../assets/font/Lobster/Lobster-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
