div.home
    div.banner
        div.container 
            div.banner-wrapper
                div.banner__left.ms-3
                    img.banner__product(src="../../assets/images/inmage-banner.png", alt="")
                    img.banner__green-vera(src="../../assets/images/text-banner.png", alt="")
                    span.banner__text Sản phẩm tinh dầu dưỡng da mới nhất của Mandala
                    span.banner__price GIÁ CHỈ 750.000đ
                    a.banner__buy(href="#") MUA HÀNG
                div.banner__right
                    img.banner__avatar(src="../../assets/images/avatar-banner.png", alt="") 
