mixin nav(items)
    ul.nav__list
    each item, index in items
        li.nav__item
            a(href=item.link)=item.name
            if item.active
                i.fas.fa-angle-down.ms-1
                block

