mixin page
    div.page 
        div.page__arrange
            a(href="#")  
                i.fa-solid.fa-list.px-1
            a(href="#") 
                i.fas.fa-th-large.px-1
        div.page__paging
            a(href="#") 
                i.fas.fa-caret-left.px-1
            a(href="#") 
                span.px-1 1 
            a(href="#") 
                span.px-1 2
            a(href="#") 
                span.px-1 3
            a(href="#") 
                i.fas.fa-caret-right.px-1
