div.error 
    div.container 
        div.error-wrapper 
            div.error__img 
                img(src="../../assets/images/page-404.png", alt="page error")
                div.error__info
                    div.error__text Đây không phải trang web bạn tìm kiếm 
                    form.error__input
                        div.input-search 
                            input.input.input-radius(type="text")
                            button.button.btn-search(type="submit")
                                i.fa-solid.fa-magnifying-glass
                    ul.error__list
                        li.error__link
                            a(href="#")
                                span Liên Hệ 
                        li.error__link
                            a(href="#")
                                span Trang chủ
