.newsletter {
  .btn-click-modal {
    position: absolute;
    top: 400px;
  }

  .modal-header {
    border: none;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
  }

  .modal-content {
    border-radius: 50%;
  }

  .modal-body {
    position: relative;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .modal {
    &__content {
      @include flex($justify: center, $align: center, $direction: column);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
    }

    &__form {
      @include flex($justify: center, $align: center, $direction: column);
      padding: 0 50px;
      height: 100%;
      background-color: transparent;
    }

    &__title {
      font-size: $fs-l;
      font-weight: 700;
      padding: 10px 0;
      color: $text-black80;
    }

    &__text {
      font-size: $fs-xs;
      letter-spacing: 1px;
      padding: 10px 0;
      color: $text-gray100;
      text-align: center;
    }

    &__input {
      width: 90%;
      padding: 20px 0;
    }

    .button-email {
      border: none;
      color: $text-black60;
      letter-spacing: 1px;
      font-size: $fs-s;
      text-decoration: underline;
      font-weight: 400;
    }
  }
}
