.error {
  &-wrapper {
    padding: 80px 0;
  }

  &__img {
    position: relative;
  }

  &__info {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    text-align: center;
  }

  &__text {
    font-size: $fs-6xl;
    letter-spacing: 2px;
    color: $text-gray40;
  }

  &__input {
    @include flex($justify: center, $align: center);
    background-color: transparent;
    padding: 20px 0;
  }

  .input-search {
    position: relative;
    width: 40%;
  }

  .btn-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
  }

  &__link {
    display: inline-block;
    padding: 0px 15px;
    font-size: $fs-base;
    color: $text-black70;
    line-height: $lh-xs;
  }

  &__link + &__link {
    border-left: 1px solid $border-color;
  }
}
