.shopping-cart {
  padding: 80px 0;

  .path {
    padding: 20px 0;
    font-size: $fs-base;
    border-bottom: 1px solid $border-line;
  }

  .cart {
    &__title {
      font-size: $fs-5xl;
      color: $text-black70;
      list-style: $lh-3xl;
      padding: 25px 0;
    }

    .table {
      th,
      td {
        border: 1px solid $border-line;
      }

      th {
        padding: 15px 8px;
        background-color: $border-line;
      }

      td {
        padding: 12px 8px;
      }
    }

    .table > :not(:first-child) {
      border-top: none;
    }

    &__delete:hover {
      cursor: pointer;
      color: $text-other;
    }
  }

  &__action {
    @include flex($justify: right, $align: center);
    padding-top: 30px;

    .button-update {
      background-color: $green;
    }
  }
}
