-
    const about = {
        src: "../../assets/images/logo.png",
        alt: "mandala",
        link: "home.html",
        title : "GIỚI THIỆU CHUNG VỀ SẢN PHẨM HANMADE MANDALA",
        text: "Hi chào các nàng... sau khá nhiều lần hứa hảo thì hôm nay tớ quay lại hâm nóng cái Blog này vào một này đầu hè năng oi bức, khi mà dân tình đổ xô nhau đi tắm Free để giải nhiệt. Trong tiết xuân hè, nàng ngoại cỡ thắp sáng phong cách bằng quần họa tiết nhiệt đới đi kèm áo sơ mi nhã nhặn. Trang phục họa tiết điện tử được nàng phối bằng chân váy kẻ caro, làm nên style vừa hiện đại vừa phảng phất nét cổ điển. lối diện đồ hàng ngày đơn giản, khỏe khoắn của cô khi kết hợp jean nữ. Nữ bloger rự rỡ khi hòa trộn các gam màu đỏ, hồng, tím...một cách vui tươi kèm theo các phụ kiện điệu đà.",
    }
