-
    const boughtList = [
        {
            order : "#1006",
            date : "May 13, 2013",
            status: "Đã thanh toán",
            total: "350.000đ",
            debt: "0"
        },
        {
            order : "#1006",
            date : "May 13, 2013",
            status: "Đã thanh toán",
            total: "350.000đ",
            debt: "0"
        },
        {
            order : "#1006",
            date : "May 13, 2013",
            status: "Đã thanh toán",
            total: "350.000đ",
            debt: "275.000đ"
        },
        {
            order : "#1006",
            date : "May 13, 2013",
            status: "Đã thanh toán",
            total: "350.000đ",
            debt: "275.000đ"
        },
        {
            order : "#1006",
            date : "May 13, 2013",
            status: "Đã thanh toán",
            total: "350.000đ",
            debt: "275.000đ"
        }
    ]
