-
	const blogCard = {
		src: "../../assets/images/block4.png",
		alt: "mandala",
		about: "  NÀNG BÉO KHÔNG NGẠI DIỆN VÁY ÁO NỔI BẬT",
		text: "Hi chào các nàng... sau khá nhiều lần hứa hảo thì hôm nay tớ quay lại hâm nóng cái Blog này vào một này đầu hè năng oi bức, khi mà dân tình đổ xô nhau đi tắm Free để giải nhiệt. Trong tiết xuân hè, nàng ngoại cỡ thắp sáng phong cách bằng quần họa tiết nhiệt đới đi kèm áo sơ mi nhã nhặn. Trang phục họa tiết điện tử được nàng phối bằng chân váy kẻ caro, làm nên style vừa hiện đại vừa phảng phất nét cổ điển. lối diện đồ hàng ngày đơn giản, khỏe khoắn của cô khi kết hợp jean nữ. Nữ bloger rự rỡ khi hòa trộn các gam màu đỏ, hồng, tím...một cách vui tươi kèm theo các phụ kiện điệu đà.",
		comment: "23 bình luận",
		by: "Bởi NamTran (27/05/2015)"
	}

- 
	const newPostList = 
	[
		{
			src: "../../assets/images/block3.png",
			alt: "mandala",
			date: "11/tháng 5",
			postby: "Đăng bởi GiangLe",
			link: "#"
		},
		{
			src: "../../assets/images/block4.png",
			alt: "mandala",
			date: "11/tháng 5",
			postby: "Đăng bởi GiangLe",
			link: "#"
		},
		{
			src: "../../assets/images/avatr-footer.png",
			alt: "mandala",
			date: "11/tháng 5",
			postby: "Đăng bởi GiangLe",
			link: "#"
		}
	]

-
	const blogTagList = 
	[
		{
			name: "Đồng hồ",
			active: true
		},
		{
			name: "Túi"
		},
		{
			name: "Phụ kiện"
		},
		{
			name: "Giày"
		},
		{
			name: "Sandal"
		},
		{
			name: "Áp sơ mi"
		},
		{
			name: "Nước hoa"
		},
		{
			name: "Trẻ em"
		},
		{
			name: "Thời trang nữ"
		}
	]
