-
    const carts = [
        {
            img: "../../assets/images/shopping-cart.png",
            name: "Lắc tay D&G",
            price: "345.000đ",
            quantity: "1",
            total: "345.000đ"
        },
        {
            img: "../../assets/images/shopping-cart.png",
            name: "Lắc tay D&G",
            price: "300.000đ",
            quantity: "2",
            total: "600.000đ"
        },
        {
            img: "../../assets/images/shopping-cart.png",
            name: "Lắc tay D&G",
            price: "345.000đ",
            quantity: "3",
            total: "1.485.000đ"
        }
    ]
