-
    const navlist =
    [
        {   
            link:"#",
            active: false,
            name: "TRANG CHỦ"
        },
        {   
            link:"#",
            active: false,
            name: "GIỚI THIỆU"
        },
        {
            link:"#",
            active: true,
            name: "SẢN PHẨM"
        },
        {
            link:"#",
            active: false,
            name: "TIN TỨC"
        },
        {
            link:"#",
            active: false,
            name: "BẢN ĐỒ "
        },
        {
            link:"#",
            active: false,
            name: "LIÊN HỆ"
        }
    ]
