-
    const navlist =
    [
        {   
            link:"index.html",
            active: false,
            name: "TRANG CHỦ"
        },
        {   
            link:"about-us.html",
            active: false,
            name: "GIỚI THIỆU"
        },
        {
            link:"product.html",
            active: true,
            name: "SẢN PHẨM"
        },
        {
            link:"blog.html",
            active: false,
            name: "TIN TỨC"
        },
        {
            link:"#",
            active: false,
            name: "BẢN ĐỒ "
        },
        {
            link:"contact-us.html",
            active: false,
            name: "LIÊN HỆ"
        }
    ]

-
    const cosmetic = 
    [
        {
            link: "#",
            text: "Áo khoác"
        }, 
        {
            link: "#",
            text: "Bộ áo liền quần"
        },
        {
            link: "#",
            text: "Dresses"
        },
        {
            link: "#",
            text: "Quần/ Váy"
        }, 
        {
            link: "#",
            text: "Quần sort"
        },
        {
            link: "#",
            text: "Quần jean"
        },
        {
            link: "#",
            text: "Đồ Đan" 
        },
        {
            link: "#",
            text: "Áo nỉ"
        }
    ]

-
    const perfume = 
    [
        {
            link: "#",
            text: "Áo cánh/Áo sơ mi"
        },
        {
            link: "#",
            text: "Túi sách & Balô"
        },
        {
            link: "#",
            text: "Khăn quàn cổ và Foulard"
        },
        {
            link: "#",
            text: "Dệt kim Hats & Gloves"
        },
        {
            link: "#",
            text: "Vớ & Socks"
        },
        {
            link: "#",
            text: "jewerly" 
        },
        {
            link: "#",
            text: "Bị bảo vệ"
        },
        {
            link: "#",
            text: "Giày"
        }
    ]

-
    const miniCards = 
    [
        {
            img: "../../assets/images/block5.png",
            alt: "card",
            link: "shopping-cart.html",
            title: "Áo sơ mi nam",
            price: "240.000đ",
        },
        {
            img: "../../assets/images/block5.png",
            alt: "card",
            link: "shopping-cart.html",
            title: "Áo sơ mi nam",
            price: "240.000đ",
        }
    ]
