-
    const product = 
    {
        title: "LẮC TAY TYFFANY XU HƯỚNG MỚI NHẤT",
        brand: "TYFFANY MIS 3201",
        prePrice: "999.000đ",
        afterPrice: "955.000đ",
        detail: "không thể phủ nhận , thời trang và phong cách chính là tuyên ngôn không lời mạnh mẽ nhất của người phụ nữ. Do đó, việc mua sắm thời trang trở thành niềm vui, và có khi là nguồn cảm hứng vô tận để phái đẹp sống vui, sống đẹp hơn trong mắt nửa còn lại của thế giới. Để F5 tủ đồ của mình trước những xu hướng ngày càng một đa dạng trong thế giới thời trang, nhiều chị em không ngần ngại chi tiêu mạnh tay để sở hữu những món đồ yêu thích .",
        color: ["Màu Bạc", "Màu Trắng" , "Màu Xanh"],
        size: [12,13,14,15],
    }

-
    const highlights = [
        {
            src: "../../assets/images/detail3.png",
            alt: "the mark of a legend",
            title: "THE MARK OF A LEGEND",
            text: "tự hào được ghi là năm mà Tifany & Co là một trong những thương hiệu nổi tiếng được thành lập, bộ sưu tập mang tính biểu tượng này cung cấp một cái gập đàu với mọi khách hàng. Thông qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp , đường cong và đường nét mượt mà",
        },
        {
            src: "../../assets/images/detal5.png",
            alt: "the mark of a legend",
            title: "THE MARK OF A LEGEND",
            text: "tự hào được ghi là năm mà Tifany & Co là một trong những thương hiệu nổi tiếng được thành lập, bộ sưu tập mang tính biểu tượng này cung cấp một cái gập đàu với mọi khách hàng. Thông qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp , đường cong và đường nét mượt mà",
        },
        {
            src: "../../assets/images/detail6.png",
            alt: "the mark of a legend",
            title: "THE MARK OF A LEGEND",
            text: "tự hào được ghi là năm mà Tifany & Co là một trong những thương hiệu nổi tiếng được thành lập, bộ sưu tập mang tính biểu tượng này cung cấp một cái gập đàu với mọi khách hàng. Thông qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp , đường cong và đường nét mượt mà",
        },
        {
            src: "../../assets/images/detail7.png",
            alt: "the mark of a legend",
            title: "THE MARK OF A LEGEND",
            text: "tự hào được ghi là năm mà Tifany & Co là một trong những thương hiệu nổi tiếng được thành lập, bộ sưu tập mang tính biểu tượng này cung cấp một cái gập đàu với mọi khách hàng. Thông qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp , đường cong và đường nét mượt mà",
        },
    ]

-
    const productSolds = 
    [
        {
            img: "../../assets/images/detail4.png",
            alt: "my pham chau au",
            link: "#",
            title : "Mỹ phẩm Châu Âu",
            rate: "5",
            price: "355.000đ"
        },
        {
            img: "../../assets/images/detail4.png",
            alt: "my pham chau au",
            link: "#",
            title : "Mỹ phẩm Châu Âu",
            rate: "5",
            price: "355.000đ"
        },
        {
            img: "../../assets/images/detail4.png",
            alt: "my pham chau au",
            link: "#",
            title : "Mỹ phẩm Châu Âu",
            rate: "5",
            price: "355.000đ"
        }
    ]

-
    const productBoughts = 
    [
        {
            img: "../../assets/images/detail4.png",
            alt: "my pham chau au",
            link: "#",
            title : "Mỹ phẩm Châu Âu",
            rate: "5",
            price: "355.000đ"
        },
        {
            img: "../../assets/images/detail4.png",
            alt: "my pham chau au",
            link: "#",
            title : "Mỹ phẩm Châu Âu",
            rate: "5",
            price: "355.000đ"
        },
        {
            img: "../../assets/images/detail4.png",
            alt: "my pham chau au",
            link: "#",
            title : "Mỹ phẩm Châu Âu",
            rate: "5",
            price: "355.000đ"
        },
        {
            img: "../../assets/images/detail4.png",
            alt: "my pham chau au",
            link: "#",
            title : "Mỹ phẩm Châu Âu",
            rate: "5",
            price: "355.000đ"
        }
    ]
