-
    const product = 
    {
        title: "LẮC TAY TYFFANY XU HƯỚNG MỚI NHẤT",
        brand: "TYFFANY MIS 3201",
        prePrice: "999.000đ",
        afterPrice: "955.000đ",
        detail: "không thể phủ nhận , thời trang và phong cách chính là tuyên ngôn không lời mạnh mẽ nhất của người phụ nữ. Do đó, việc mua sắm thời trang trở thành niềm vui, và có khi là nguồn cảm hứng vô tận để phái đẹp sống vui, sống đẹp hơn trong mắt nửa còn lại của thế giới. Để F5 tủ đồ của mình trước những xu hướng ngày càng một đa dạng trong thế giới thời trang, nhiều chị em không ngần ngại chi tiêu mạnh tay để sở hữu những món đồ yêu thích .",
        color: ["Màu Bạc", "Màu Trắng" , "Màu Xanh"],
        size: [12,13,14,15],
    }
