-
    const ship = {
        title : "CHUYỂN HÀNG",
        items : [
            {
                link: '#',
                text: 'Mua sắm trực tuyến'
            },
            {
                link: '#',
                text: 'Đến từ chúng tôi gửi đến'
            },
            {
                link: '#',
                text: 'Chính sách vận chuyển'
            },
            {
                link: '#',
                text: 'Vận chuyển thông tin'
            },
        ]
    }

-
    const support = {
        title : "HỔ TRỢ",
        items : [
            {
                link: '#',
                text: 'Câu chuyện của chúng ta'
            },
            {
                link: '#',
                text: 'Thanh toán an toàn'
            },
            {
                link: '#',
                text: 'Tùy chọn vận chuyển vận chuyển'
            },
            {
                link: '#',
                text: 'Chính sách vận chuyển'
            },
        ]
    }

-
    const info = {
        title : "THÔNG TIN",
        items : [
            {
                link: '#',
                text: 'Về chúng tôi'
            },
            {
                link: '#',
                text: 'Điều khoản & điều kiện'
            },
            {
                link: '#',
                text: 'Chính sách riêng tư'
            },
            {
                link: '#',
                text: 'Đơn đặt hàng và returns'
            },
        ]
    }

-
    const account = {
        title : "MY ACCOUNT",
        items : [
            {
                link: '#',
                text: 'Xem giở hàng'
            },
            {
                link: '#',
                text: 'Sản phẩm yêu thích'
            },
            {
                link: '#',
                text: 'Kiểm tra'
            },
            {
                link: '#',
                text: 'Theo dõi đơn hàng của tôi'
            },
        ]
    }
