-
    const listImages = 
    [
        {
            link: "#",
            src: "../../assets/images/avatar1-home.png",
            alt: "avatar-home"
        },
        {
            link: "#",
            src: "../../assets/images/avatar3-home.png",
            alt: "avatar-home"
        },
        {
            link: "#",
            src: "../../assets/images/avatar3-home.png",
            alt: "avatar-home"
        },
        {
            link: "#",
            src: "../../assets/images/avatar2-home.png",
            alt: "avatar-home"
        }
    ]

-
    const productTitle = 
    [
        {
            link: "#",
            title: "Sản phẩm mới",
            active: false
        },
        {
            link: "#",
            title: "Sản phẩm bán chạy",
            active: true
        },
        {
            link: "#",
            title: "Sản phẩm đặc biệt",
            active: false
        }
    ]

-
    const category = 
    [
        {
            link: "#",
            text: "Mỹ phẩm",
        },
        {
            link: "#",
            text: "Chăm sóc da",
        },
        {
            link: "#",
            text: "Dành cho tóc",
        },
        {
            link: "#",
            text: "Nước hoa",
        },
        {
            link: "#",
            text: "Trang sức",
            active: true
        },
        {
            link: "#",
            text: "Quà tặng",
        }
    ]

-
    const contact = 
    [
        {
            link: "#",
            icon: "fa-brands.fa-facebook-f",
            name: "FACEBOOK",
            active: true
        },
        {
            link: "#",
            icon: "fab.fa-twitter",
            name: "TWITTER",
        },
        {
            link: "#",
            icon: "fab.fa-instagram",
            name: "INSTAGRAM",
        },
        {
            link: "#",
            icon: "fab.fa-google",
            name: "GOOGLE",
        },
        {
            link: "#",
            icon: "fab.fa-pinterest",
            name: "PRINEREST",
        },
        {
            link: "#",
            icon: "fab.fa-linkedin-in",
            name: "LINKEDIN",
        }  
    ]

-
    const about = " Hi chào các nàng... sau khá nhiều lần hứa hảo thì hôm nay tớ quay lại hâm nóng cái Blog này vào một này đầu hè năng oi bức, khi mà dân tình đổ xô nhau đi tắm Free để giải nhiệt. Hi chào các nàng... sau khá nhiều lần hứa hảo thì hôm nay tớ quay lại hâm nóng cái Blog này vào một này đầu hè năng oi bức, khi mà dân tình đổ xô nhau đi tắm Free để giải nhiệt. . Hi chào các nàng... sau khá nhiều lần hứa hảo thì hôm nay tớ quay lại hâm nóng cái Blog này vào một này đầu hè năng oi bức, khi mà dân tình đổ xô nhau đi tắm Free để giải nhiệt. "

-
    const blog = "Hi chào các nàng... sau khá nhiều lần hứa hảo thì hôm nay tớ quay lại hâm nóng cái Blog này vào một này đầu hè năng oi bức, khi mà dân tình đổ xô nhau đi tắm Free để giải nhiệt."

- 
    const productTag = 
    [
        {
            name: "Đồng hồ",
            active: true
        },
        {
            name: "Túi"
        },
        {
            name: "Phụ kiện"
        },
        {
            name: "Đồng hồ"
        },
        {
            name: "Túi"
        },
        {
            name: "Giày"
        },
        {
            name: "Sandal"
        },
        {
            name: "Áo sơ mi"
        },
        {
            name: "Nước hoa"
        },
        {
            name: "Giày"
        },
        {
            name: "Sandal"
        },
        {
            name: "Trẻ em"
        },
        {
            name: "Thời trang nữ"
        },
        {
            name: "Trẻ em"
        },
        {
            name: "Thời trang nữ"
        },
    ]
