-
    const productList = 
    [
        {
            id: 1,
            link: "#",
            src: "../../assets/images/product1.png",
            brand: "TIFANY",
            title : "Mỹ Phẩm Châu Âu",
            sell: "355.000đ",
        },
        {
            id: 2,
            link: "#",
            src: "../../assets/images/product2.png",
            brand: "OHUI",
            title : "Mỹ Phẩm Châu Âu",
            sell: "355.000đ",
        },
        {
            id: 3,
            link: "#",
            src: "../../assets/images/product3.png",
            brand: "HOME",
            title : "Mỹ Phẩm Châu Âu",
            sell: "355.000đ",
        },
        {
            id: 4,
            link: "#",
            src: "../../assets/images/product4.png",
            brand: "DEBORA",
            title : "Mỹ Phẩm Châu Âu",
            sell: "355.000đ",
            price: "450.000đ"
        },
        {
            id: 5,
            link: "#",
            src: "../../assets/images/produvt5.png",
            brand: "SARVON",
            title : "Mỹ Phẩm Châu Âu",
            sell: "355.000đ",
        },
        {
            id: 6,
            link: "#",
            src: "../../assets/images/product6.png",
            brand: "TYFANY",
            title : "Mỹ Phẩm Châu Âu",
            sell: "355.000đ",
        }
    ]
